<div class="login-container">
  <h2>Welcome Back</h2>
  <p>Please sign in to continue</p>

  <!-- Show error -->
  <div class="error" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <!-- Show success -->
  <div class="success" *ngIf="successMessage">
    {{ successMessage }}
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onLogin($event)" action="javascript:void(0)"  novalidate>

    <!-- Username -->
    <div class="form-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        formControlName="username"
        placeholder="Enter your username"
      />
      <div class="error" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        Username is required.
      </div>
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Enter your password"
      />
      <div class="error" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        Password is required.
      </div>
    </div>

    <!-- Submit Button -->
    <button type="submit" [disabled]="loginForm.invalid || loading">
      {{ loading ? 'Signing in...' : 'Login' }}
    </button>

  </form>

  <div class="links">
    <a routerLink="/register" routerLinkActive="active" >Don't have an account? Register</a>
  </div>
</div>